body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #CACACA;
}

.container {
  display: flex;
  align-items: center;
}

.map-placeholder {
  width: 200px;
  height: 100px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.hexagons {
  display: flex;
  justify-content: center;
}

.hexagon {
  width: 100px; /* Width of the hexagon */
  height: 57.74px; /* Height should be width * (sqrt(3)/2) */
  margin: 29px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  text-align: center;
}

.hexagon:before, .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  top: 100%;
  border-bottom: 28.87px solid; /* Border should be height/2 */
}

.hexagon:after {
  bottom: 100%;
  border-top: 28.87px solid; /* Border should be height/2 */
}

#hex1 {
  background-color: red;
}

#hex2 {
  background-color: blue;
}

#hex3 {
  background-color: gray;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.sidebar-item {
  background-color: #ddd;
  padding: 5px;
  margin: 2px;
}
