.hra-wBC {
  height: 104.3rem;
  position: relative;
  width: 100%;

  .rectangle-1-wKc {
    background: linear-gradient(299.02deg, #000080 111.16%, rgba(0, 0, 0, 0) 315.64%);
    height: 101.5rem;
    left: 0;
    position: absolute;
    top: 2.8rem;
    width: 141.3rem;
  }
  .logo-Xx2 {
    height: 30.3rem;
    left: 55.5rem;
    object-fit: cover;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 30.3rem;
  }
  .otazky-a-odpovedi-Tan {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 72.4rem;
    left: 0;
    position: absolute;
    top: 31.6rem;
    width: 141.3rem;

    .otazka-mLa {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      height: 11.9032rem;
      margin: 0rem 33.7rem 16.497rem 33.8rem;
      width: calc(100% - 67.5rem);

      .component-1-giS {
        height: 100%;
        position: relative;
        width: 100%;

        .rectangle-4-ddg {
          background-color: #000000;
          height: 11.9032rem;
          left: 10.5298rem;
          position: absolute;
          top: 0;
          width: 52.7404rem;
        }
        .polygon-1-xR4 {
          height: 11.9032rem;
          left: 0;
          object-fit: contain;
          position: absolute;
          top: -0rem;
          vertical-align: top;
          width: 10.5298rem;
        }
        .polygon-2-HCS {
          height: 11.9032rem;
          left: 63.2702rem;
          object-fit: contain;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 10.5298rem;
        }
        .kde-je-text-2-2A2 {
          color: #ffffff;
          font-family: Russo One, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          height: 2.5rem;
          left: 30.8rem;
          line-height: 1.205;
          position: absolute;
          top: 4.1rem;
          white-space: nowrap;
          width: 13.8rem;
        }
        .polygon-4-Gq4 {
          height: 2.6rem;
          left: 62rem;
          object-fit: contain;
          position: absolute;
          top: 4.7rem;
          vertical-align: top;
          width: 2.6rem;
        }
        .polygon-4-noQ {
          height: 2.6rem;
          left: 9.2rem;
          object-fit: contain;
          position: absolute;
          top: 4.7rem;
          vertical-align: top;
          width: 2.6rem;
        }
      }
    }
    .auto-group-pcby-trS {
      background: linear-gradient(299.02deg, #000094 111.16%, rgba(81, 81, 81, 0) 315.64%);
      border: solid 0.1rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      flex-shrink: 0;
      height: 44rem;
      padding: 9.7rem 8.258rem 9.01rem 8.2rem;
      width: 100%;

      .odpovedi-QJz {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .auto-group-r6s2-kte {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: 8.7939rem;
          margin-bottom: 7.7025rem;
          width: 100%;

          .odpoved-tV4 {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            height: 100%;
            margin-right: 7.9686rem;
            position: relative;
            width: 58.4365rem;

            .rectangle-4-NYe {
              background-color: #000000;
              height: 8.7939rem;
              left: 8.3377rem;
              position: absolute;
              top: 0;
              width: 41.7611rem;
            }
            .polygon-1-7FL {
              height: 8.7939rem;
              left: 0;
              object-fit: contain;
              position: absolute;
              top: 0rem;
              vertical-align: top;
              width: 8.3377rem;
            }
            .polygon-2-3ug {
              height: 8.7939rem;
              left: 50.0988rem;
              object-fit: contain;
              position: absolute;
              top: 0;
              vertical-align: top;
              width: 8.3377rem;
            }
            .a--CXg {
              color: #979797;
              font-family: Russo One, 'Source Sans Pro';
              font-size: 3.2rem;
              font-weight: 400;
              height: 3.9rem;
              left: 10.6rem;
              line-height: 1.205;
              position: absolute;
              top: 2.3rem;
              white-space: nowrap;
              width: 3.1rem;
            }
            .text-1-hjL {
              color: #ffffff;
              font-family: Russo One, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 400;
              height: 2.5rem;
              left: 17.1954rem;
              line-height: 1.205;
              position: absolute;
              top: 1.6776rem;
              white-space: nowrap;
              width: 5.8rem;
            }
            .polygon-12-1zv {
              height: 2.6562rem;
              left: 7.1298rem;
              object-fit: contain;
              position: absolute;
              top: 2.9358rem;
              vertical-align: top;
              width: 2.6562rem;
            }
            .polygon-11-xQN {
              height: 2.6562rem;
              left: 48.5107rem;
              object-fit: contain;
              position: absolute;
              top: 2.9358rem;
              vertical-align: top;
              width: 2.6562rem;
            }
          }
          .odpoved-GAA {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            height: 100%;
            position: relative;
            width: 58.4365rem;

            .rectangle-4-17k {
              background-color: #000000;
              height: 8.7939rem;
              left: 8.3377rem;
              position: absolute;
              top: 0;
              width: 41.7611rem;
            }
            .polygon-1-9Dx {
              height: 8.7939rem;
              left: 0;
              object-fit: contain;
              position: absolute;
              top: 0rem;
              vertical-align: top;
              width: 8.3377rem;
            }
            .polygon-2-5NW {
              height: 8.7939rem;
              left: 50.0988rem;
              object-fit: contain;
              position: absolute;
              top: 0;
              vertical-align: top;
              width: 8.3377rem;
            }
            .b--Djc {
              color: #979797;
              font-family: Russo One, 'Source Sans Pro';
              font-size: 3.2rem;
              font-weight: 400;
              height: 3.9rem;
              left: 11.1949rem;
              line-height: 1.205;
              position: absolute;
              top: 2.2rem;
              white-space: nowrap;
              width: 3.1rem;
            }
            .text-2-w9p {
              color: #ffffff;
              font-family: Russo One, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 400;
              height: 2.5rem;
              left: 19.0128rem;
              line-height: 1.205;
              position: absolute;
              top: 1.8174rem;
              white-space: nowrap;
              width: 6.1rem;
            }
            .polygon-8-FAW {
              height: 2.6562rem;
              left: 48.7903rem;
              object-fit: contain;
              position: absolute;
              top: 2.9358rem;
              vertical-align: top;
              width: 2.6562rem;
            }
            .polygon-7-AYN {
              height: 2.6562rem;
              left: 7.1298rem;
              object-fit: contain;
              position: absolute;
              top: 2.9358rem;
              vertical-align: top;
              width: 2.6562rem;
            }
          }
        }
        .auto-group-7tmt-5QS {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: 8.7939rem;
          width: 100%;

          .odpoved-2qU {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            height: 100%;
            margin-right: 7.9686rem;
            position: relative;
            width: 58.4365rem;

            .rectangle-4-yVp {
              background-color: #000000;
              height: 8.7939rem;
              left: 8.3377rem;
              position: absolute;
              top: 0;
              width: 41.7611rem;
            }
            .polygon-1-7c2 {
              height: 8.7939rem;
              left: 0;
              object-fit: contain;
              position: absolute;
              top: 0rem;
              vertical-align: top;
              width: 8.3377rem;
            }
            .polygon-2-rpW {
              height: 8.7939rem;
              left: 50.0988rem;
              object-fit: contain;
              position: absolute;
              top: 0;
              vertical-align: top;
              width: 8.3377rem;
            }
            .c--zvi {
              color: #979797;
              font-family: Russo One, 'Source Sans Pro';
              font-size: 3.2rem;
              font-weight: 400;
              height: 3.9rem;
              left: 11.1rem;
              line-height: 1.205;
              position: absolute;
              top: 2.4036rem;
              white-space: nowrap;
              width: 2.8rem;
            }
            .polygon-13-unn {
              height: 2.6562rem;
              left: 7.1298rem;
              object-fit: contain;
              position: absolute;
              top: 2.9358rem;
              vertical-align: top;
              width: 2.6562rem;
            }
            .text-3-T3c {
              color: #ffffff;
              font-family: Russo One, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 400;
              height: 2.5rem;
              left: 16.4964rem;
              line-height: 1.205;
              position: absolute;
              top: 1.8174rem;
              white-space: nowrap;
              width: 6.2rem;
            }
            .polygon-14-NRU {
              height: 2.6562rem;
              left: 48.5107rem;
              object-fit: contain;
              position: absolute;
              top: 2.9358rem;
              vertical-align: top;
              width: 2.6562rem;
            }
          }
          .odpoved-HYS {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            height: 100%;
            position: relative;
            width: 58.4365rem;

            .rectangle-4-SRL {
              background-color: #000000;
              height: 8.7939rem;
              left: 8.3377rem;
              position: absolute;
              top: 0;
              width: 41.7611rem;
            }
            .polygon-1-Bdp {
              height: 8.7939rem;
              left: 0;
              object-fit: contain;
              position: absolute;
              top: 0rem;
              vertical-align: top;
              width: 8.3377rem;
            }
            .polygon-2-Xhg {
              height: 8.7939rem;
              left: 50.0988rem;
              object-fit: contain;
              position: absolute;
              top: 0;
              vertical-align: top;
              width: 8.3377rem;
            }
            .d--GvA {
              color: #979797;
              font-family: Russo One, 'Source Sans Pro';
              font-size: 3.2rem;
              font-weight: 400;
              height: 3.9rem;
              left: 11.1949rem;
              line-height: 1.205;
              position: absolute;
              top: 2.4036rem;
              white-space: nowrap;
              width: 3.1rem;
            }
            .text-4-ndc {
              color: #ffffff;
              font-family: Russo One, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 400;
              height: 2.5rem;
              left: 19.0128rem;
              line-height: 1.205;
              position: absolute;
              top: 1.8174rem;
              white-space: nowrap;
              width: 6.2rem;
            }
            .polygon-9-uTL {
              height: 2.6562rem;
              left: 7.1298rem;
              object-fit: contain;
              position: absolute;
              top: 2.9358rem;
              vertical-align: top;
              width: 2.6562rem;
            }
            .polygon-10-eA2 {
              height: 2.6562rem;
              left: 48.7903rem;
              object-fit: contain;
              position: absolute;
              top: 2.9358rem;
              vertical-align: top;
              width: 2.6562rem;
            }
          }
        }
      }
    }
  }
  .tlatka-Uer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 42.5rem;
    left: 119.8rem;
    position: absolute;
    row-gap: 3.4rem;
    top: 5.3rem;
    width: 18.3rem;

    .item-50-50--mdx {
      background-image: url('/api/prod-us-east-2-first-cluster/projects/GTFkpLRnZK8cdT1RcYGFSy/files/vector/dd657a142a93f4d23448c9cf0dfca2dbe5c04b99d32d34f2a1a8c7f80cde4bbb153fafc68deaafc77d89c39c9c6fbabad1de00c473e8fd13ceaaca5dd32e9188?hash=94dd1ef43b50ff0fd9a0eb19857b9f87ebceddd762067b1dc6c12e444e99e39b');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
      flex-shrink: 0;
      padding: 1.1rem 4.3rem 1rem 4.2rem;
      width: 100%;

      .layer1-uEN {
        height: 9.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 9.8rem;
      }
    }
    .volat-kamoovi-dRG {
      background-image: url('/api/prod-us-east-2-first-cluster/projects/GTFkpLRnZK8cdT1RcYGFSy/files/vector/ee832651960a3c8aa4f608ea9f741815e75f83ea978e36e04acc2203dfa981f16d27bc4f3f66d2f47e656b7e2ff7db95db2feb563e9c5cc24309e2e0d1294f2c?hash=7b17d77f4bd9cd2d1ab386dd0f85f5ea0898a5fd5392d6e235b2654e357428cc');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
      flex-shrink: 0;
      padding: 1.166rem 4.8rem 2.203rem 4.951rem;
      width: 100%;

      .frame-LKg {
        height: 8.5304rem;
        object-fit: contain;
        vertical-align: top;
        width: 8.5492rem;
      }
    }
    .lidi-52N {
      background-image: url('/api/prod-us-east-2-first-cluster/projects/GTFkpLRnZK8cdT1RcYGFSy/files/vector/8a2248633973de0ab953bb0ef6967b469c1b31a1d6e98011cdf8526dcdb7bf80d4084d2a4a7ab21cc0c16ec441e60315168818954ded99f32fe5808e1c238cc3?hash=53dcbb2e3bef333713dd882ea7f5b9282b9eb5d8ac94a6fa6ef5e905320e43f5');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
      flex-shrink: 0;
      padding: 1.595rem 4.799rem 1.596rem 4.8rem;
      width: 100%;

      .frame-pEr {
        height: 8.7082rem;
        object-fit: contain;
        vertical-align: top;
        width: 8.7005rem;
      }
    }
  }
  .npis-kola-Liz {
    align-items: center;
    background-color: #000000;
    border-radius: 2rem;
    color: #ffffff;
    display: flex;
    font-family: Russo One, 'Source Sans Pro';
    font-size: 3.2rem;
    font-weight: 400;
    height: 7.1rem;
    justify-content: center;
    left: 1.8rem;
    line-height: 1.205;
    position: absolute;
    top: 5.3rem;
    white-space: nowrap;
    width: 35.8rem;
  }
}