body {
  background: url("../../obrazce/milionar/pozadi.svg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Upraveno pro umístění obsahu blíže k vrchu */
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Russo One';
  font-size: 22px;
}
