body{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../obrazce/pozadi.svg");
}


/*
body {
  margin: 0;
  height: 100vh;
  background: #ffffe6, 98.7%; /* Your background color 
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.map-container {
  position: absolute;
  top: 0;
  left: 0;
}

.hexagon {
  width: 200px; /* Example size */
  height: 115px; /* Example size */
  margin: 29px 0;
  background-size: cover;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
}

/* Position your hexagons with classes or ids */
#zemepisne-pexeso {
  position: relative; /* Example position */
}

#milionar {
  position: relative; /* Example position */
}

#az-kviz {
  position: relative; /* Example position */
}