body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../obrazce/pozadi.svg");
}


.content {
  /* Přizpůsobte si podle potřeby */
  display: flex;
  flex-direction: column;
  /* Nebo row, podle toho, jak chcete obsah uspořádat */
  align-items: center;
  /* Zarovnává dětské prvky na střed horizontálně */
  justify-content: center;
  /* Zarovnává dětské prvky na střed vertikálně */
  text-align: center;
  /* Zarovnává text uvnitř dětských prvků na střed */
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
}

.hexagon {
  width: 200px;
  /* Example size */
  height: 115px;
  /* Example size */
  margin: 29px 0;
  background-size: cover;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
}

img[alt="Zemepisne-pexeso"] {
/* Výška obrázku */
  cursor: pointer; /* Změna kurzoru na ruku po najetí myší */
  transition: transform 0.3s; /* Plynulá změna vlastnosti "transform" po najetí myší */
}

/* Styl obrázku při najetí myší (hover) */
img[alt="Zemepisne-pexeso"]:hover {
  transform: scale(1.1); /* Zvětší obrázek o 10 % po najetí myší */
}

#milionar {
  position: relative;
  /* Example position */
}

#az-kviz {
  position: relative;
  /* Example position */
}

#Profile {

  position: fixed;
  /* Umožní fixní pozici na stránce, aby se zůstal v pravém horním rohu při posouvání stránky. */
  top: 0px;
  /* Umístění od horního okraje stránky (0px). */
  right: 0px;
  /* Umístění od pravého okraje stránky (0px). */

}