body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #dfbf9f;
    user-select: none;
}

.score-board {
    position: absolute;
    right: 20px;
    margin: 20px;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

#Uroven1{
    position: absolute;
    top: 15px;
    left: 15px;
}


.game-board {
    position: absolute;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 sloupce na široké obrazovce */
    gap: 10px; /* mezery mezi kartami */
    width: 90vw; /* šířka herní plochy jako 90% viewportu */
    max-width: 600px; /* maximální šířka herní plochy */
    margin: 20px auto; /* zarovnání herní plochy na střed */
}

.zpet{
    height: auto;
    position: absolute;  /* Absolutní pozicování vůči nejbližšímu relativně pozicovanému předkovi */
    right: 20px;         /* Odsazení od pravého okraje kontejneru */
    bottom: 15px;        /* Odsazení od spodního okraje kontejneru */
    transition: transform 0.3s;
 
}
.zpet:hover{
    transform: scale(1.1);
}

.card {
    cursor: pointer;
    perspective: 1000px;
    width: 100%; /* šířka karty odpovídá šířce kontejneru */
    aspect-ratio: 1 / 1; /* zachování poměru stran 1:1 */
    position: relative;
    border-radius: 15%; /* mírně zaoblené rohy */
    background-image: url('/obrazce/pexeso/Karta.svg');
    background-repeat: no-repeat;
    overflow: hidden;

    
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    transform: rotateY(180deg); /* výchozí stav, přední strana viditelná */
}

.card.flipped .card-inner {
    transform: rotateY(0deg); /* otočení karty o 180 stupňů */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* skrytí opačné strany při otočení */
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.card-front {
    min-height: 200px;
    min-width: 200px;
    background-image: url('/obrazce/pexeso/Karta.svg');  Upravte cestu podle vašeho umístění souboru 
    background-size: cover;
}
*/
.card-back {
    background-color: #BCBCBC; /* bílé pozadí pro lepší kontrast s obrázkem */
}

.card-back img {
    width: 90%; /* zmenšení obrázku vlajky, aby nezabíral celou plochu */
    height: auto;
    object-fit: contain; /* ujistění, že obrázek bude celý vidět */
}

.matched {
    cursor: default;
    opacity: 0.4; /* ztmavení spárovaných karet */
}

@media (max-width: 600px) {
    .game-board {
        grid-template-columns: repeat(2, 1fr); /* pouze 2 sloupce pro úsporu místa */
        gap: 5px; /* menší mezery mezi kartami */
    }

    .card {
        margin: 5px; /* dodatečný okraj pro lepší manipulaci */
    }
}
