body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #dfbf9f;
}

.score-board {
    margin: 20px;
    font-family: Arial, sans-serif;
    font-size: 24px;¨
    background: (/obrazce/pexeso/Karta.svg);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 sloupce */
    gap: 10px; /* mezery mezi kartami */
    width: 90vw; /* šířka herní plochy jako 90% z viewport width */
    max-width: 600px; /* maximální šířka herní plochy */
    margin: 20px auto; /* zarovnání herní plochy na střed s vertikálním okrajem */
}

.card {
    cursor: pointer;
    perspective: 1000px;
    width: 100%; /* šířka karty dynamicky odpovídá grid kontejneru */
    padding-top: 100%; /* výška karty stejná jako šířka pro zachování poměru stran 1:1 */
    position: relative;
    border-radius: 15%; /* mírné zaoblení rohů */
    background-color: #35302c;
    overflow: hidden; /* skrytí přetečení, které by mohlo způsobit nežádoucí efekty */
}

.card-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    transform: rotateY(0deg); /* inicializace transformace pro přední a zadní stranu */
}

.card.flipped .card-inner {
    transform: rotateY(180deg); /* otočení karty o 180 stupňů na kliknutí */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* skrytí zadní/přední strany karty, když je otočena */
}

.card-front {
    background-image: url('/obrazce/pexeso/Karta.svg'); /* náhledový obrázek karty */
    background-size: cover; /* pokrytí celé plochy karty */
    background-position: center; /* centrování obrázku */
}

.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfbf9f; /* bílé pozadí pro lepší kontrast obrázku */
}

.card-back img {
    width: 80%; /* šířka obrázku vlajky */
    height: auto; /* auto výška pro zachování poměru stran obrázku */
    object-fit: contain; /* obsah obrázku bude celý vidět a nepřeteče */
}

.matched {
    cursor: default;
    opacity: 0.4; /* průhlednost spárovaných karet */
}

@media (max-width: 600px) {
    .game-board {
        grid-template-columns: repeat(2, 1fr); /* 2 sloupce v režimu menších obrazovek */
        gap: 5px; /* menší mezery mezi kartami */
    }

    .card {
        margin: 5px; /* okraj kolem karet pro lepší manipulaci na menších obrazovkách */
    }
}
