body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #dfbf9f;
}

.score-board {
    margin: 20px;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 6 sloupců */
    gap: 10px; /* mezery mezi kartami */
    max-width: 90vw;
    margin: auto;
}

.card {
    cursor: pointer;
    perspective: 1000px;
    position: relative;
    width: 200px; /* Nastavte podle vašeho designu */
    height: 200px; /* Nastavte podle vašeho designu */
    border-radius: 15%;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Pro zobrazení textu, upravte podle potřeby */
    border-radius: 15%;
}

.card-front {
    min-height: 200px;
    min-width: 200px;
    background-image: url('/obrazce/pexeso/Karta.svg'); /* Upravte cestu podle vašeho umístění souboru */
    background-size: cover;
}

.card-back {
    background-color: #cc9966;
    transform: rotateY(180deg);
}

.matched {
    cursor: default;
    opacity: 0.5;
}

