body {
    background: url("../../../obrazce/pexeso/pozadi-blue.svg");
    background-size: cover;
    margin: 0;
    padding: 0;
    user-select: none;
  }


.hexagon-group{
    top: 0;
    left: 0;
}

.tlacitka-menu {
  position: absolute;
  align-self: center;
  left: 45%;
  top: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.uroven1 {
  height: auto;
  top: 10%;
  left: 0;
  transition: transform 0.3s;
}

.uroven2 {
  height: auto;
  top: 10%;
  left: 0;
  transition: transform 0.3s;
}

.uroven3 {
  height: auto;
  top: 10%;
  left: 0;
  transition: transform 0.3s;
}

.pravidla {
  height: auto;
  top: 10%;
  left: 0;
  transition: transform 0.3s;
}

.zpet {
  height: auto;
  position: absolute;  /* Absolutní pozicování vůči nejbližšímu relativně pozicovanému předkovi */
  right: 2%;         /* Odsazení od pravého okraje kontejneru */
  bottom: 5%;        /* Odsazení od spodního okraje kontejneru */
  transition: transform 0.3s;
}

.uroven1:hover,
.uroven2:hover,
.uroven3:hover,
.zpet:hover,
.pravidla:hover {
  transform: scale(1.1);
}




.total-score {
  position: absolute;
  font-size: 42px;
  top: 0;
  right: 2%;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #BCBCBC;
}