.hotovka-aRK {
    height: 111.4rem;
    position: relative;
    width: 100%;
  
    .mask-group-DDP {
      align-items: flex-start;
      background: linear-gradient(296.56deg, #ffffe6 99.89%, rgba(255, 255, 230, 0) 318.45%);
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      display: flex;
      height: 101.5rem;
      left: 0;
      max-height: 100%;
      max-width: 100%;
      min-height: 100%;
      min-width: 100%;
      padding: 0.6rem 0.5rem 0.6rem 1.9rem;
      position: absolute;
      top: 0;
      width: 141.3rem;
  
      .o-ns-r1T {
        color: #000000;
        cursor: pointer;
        flex-shrink: 0;
        font-family: League Spartan, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 0.92;
        margin: 1.1rem 4.6rem 0rem 0rem;
        white-space: nowrap;
      }
      .auto-group-mn9b-TG9 {
        flex-shrink: 0;
        height: 87.7958rem;
        margin: 9.5rem 1.9rem 0rem 0rem;
        position: relative;
        width: 102.9rem;
  
        .graph-9Ps {
          height: 28.2251rem;
          left: 66.9rem;
          object-fit: contain;
          position: absolute;
          top: 37rem;
          vertical-align: top;
          width: 36rem;
        }
        .mapa-GUV {
          height: 27.4042rem;
          left: 2.3rem;
          object-fit: contain;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 58.5rem;
        }
        .tajenka-nxd {
          align-items: center;
          border-radius: 1.5rem;
          display: flex;
          height: 24.0958rem;
          left: 0;
          position: absolute;
          top: 63.7rem;
          width: 32.9rem;
  
          .rectangle-18-Wdj {
            border: solid 0.3rem #000000;
            border-radius: 1.5rem;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 4.6668rem;
            margin: 0rem 0.185rem 0rem 0rem;
            width: 4.5411rem;
          }
          .auto-group-yqwm-ATP {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: calc(100% - 14.5718rem);
            margin: 9.715rem 0.185rem 4.857rem 0rem;
            width: 4.5411rem;
  
            .rectangle-17-eNZ {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              margin-bottom: 0.1905rem;
              width: 100%;
            }
            .rectangle-12-xPF {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
          }
          .auto-group-bikf-HgR {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: calc(100% - 0rem);
            margin: 0rem 0.185rem 0rem 0rem;
            row-gap: 0.1905rem;
            width: 4.5411rem;
  
            .rectangle-21-aQd {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
            .rectangle-19-79f {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
            .rectangle-16-3p1 {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
            .rectangle-9-rWZ {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
            .rectangle-11-z6y {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
          }
          .auto-group-elbw-iof {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: calc(100% - 0rem);
            margin: 0rem 0.185rem 0rem 0rem;
            row-gap: 0.1905rem;
            width: 4.5411rem;
  
            .rectangle-5-23f {
              border: solid 0.5rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
            .rectangle-6-xi1 {
              border: solid 0.5rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
            .rectangle-8-uNM {
              border: solid 0.5rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
            .rectangle-4-3UZ {
              border: solid 0.5rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
            .rectangle-7-Zxh {
              border: solid 0.5rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
          }
          .auto-group-91ch-W7F {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: calc(100% - 0rem);
            margin: 0rem 0.185rem 0rem 0rem;
            row-gap: 0.1905rem;
            width: 4.5411rem;
  
            .rectangle-22-CVs {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
            .rectangle-24-vgm {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
            .rectangle-20-TRo {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
            .rectangle-13-C8V {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
            .rectangle-3-jPK {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
          }
          .auto-group-ktwy-FcZ {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: calc(100% - 0rem);
            margin: 0rem 0.185rem 0rem 0rem;
            width: 4.5411rem;
  
            .rectangle-23-mau {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              margin-bottom: 0.1905rem;
              width: 100%;
            }
            .rectangle-25-hjT {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              margin-bottom: 5.0477rem;
              width: 100%;
            }
            .rectangle-14-3HX {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              margin-bottom: 0.1905rem;
              width: 100%;
            }
            .rectangle-10-mDX {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
          }
          .auto-group-4qer-JjF {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: calc(100% - 9.7145rem);
            margin: 4.857rem 0rem 4.857rem 0rem;
            width: 4.5411rem;
  
            .rectangle-26-RYy {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              margin-bottom: 5.0477rem;
              width: 100%;
            }
            .rectangle-15-9E5 {
              border: solid 0.3rem #000000;
              border-radius: 1.5rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 4.6668rem;
              width: 100%;
            }
          }
        }
        .skupina-tlatek-4bw {
          height: 69.7rem;
          left: 15.3rem;
          position: absolute;
          top: 7.3rem;
          width: 63.2092rem;
  
          .hexagon2-Aus {
            cursor: pointer;
            height: 26rem;
            left: 0;
            object-fit: contain;
            position: absolute;
            top: 43.7rem;
            vertical-align: top;
            width: 31.6rem;
          }
          .az-kvz-u6m {
            color: #ffffff;
            cursor: pointer;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 600;
            height: 3.9rem;
            left: 9.9rem;
            line-height: 1.2125;
            position: absolute;
            top: 54.7rem;
            white-space: nowrap;
            width: 11.8rem;
          }
          .zemepisne-pexeso-C5s {
            background-image: url('/api/try-prod-us-east-2-first-cluster/projects/43Ep63UBdjvTdaVtLQcud3/files/vector/23681dda1f4eca5d28ab451d60944a8fad84f3b803d29e1c1a63a5544ea1542fd81183450876dcf2273e1844b7d4657ce6afdf8af4892718a6fcdd441b561de7?hash=5b20dd382ff4db4ac5a35245facefa8680a67c5007d03d69c546a00a81064f95');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
            cursor: pointer;
            height: 25.9427rem;
            left: 31.6rem;
            padding: 10.1rem 7.9rem 4.843rem 7.309rem;
            position: absolute;
            top: 0;
            width: 31.6092rem;
  
            .zempisn-pexeso-H7K {
              color: #ffffff;
              cursor: pointer;
              font-family: Inter, 'Source Sans Pro';
              font-size: 3rem;
              font-weight: 600;
              line-height: 1.2125;
              max-width: 16.4rem;
            }
          }
          .milionr-Zad {
            align-items: center;
            background-image: url('/api/try-prod-us-east-2-first-cluster/projects/43Ep63UBdjvTdaVtLQcud3/files/vector/74d5377bb8ace5aadfeb248f09a2f0ee61a322d6575080ab56ad1de3022b42e429167d153f18dcadb2bca77379f379e816cd146d5552771bdf71a8c3f11076eb?hash=8957f455757afa83d3618a9bca05da936729c57f6f6bb04c8b268d231d5d1c64');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: #ffffff;
            cursor: pointer;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 600;
            height: 26rem;
            justify-content: center;
            left: 31.6rem;
            line-height: 1.2125;
            position: absolute;
            top: 31rem;
            white-space: nowrap;
            width: 31.6rem;
          }
        }
      }
      .auto-group-npvf-1xR {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 23.5rem;
  
        .auto-group-gla1-NHB {
          flex-shrink: 0;
          height: 10.3rem;
          margin-bottom: 78.9rem;
          position: relative;
          width: 100%;
  
          .login-iM3 {
            align-items: center;
            display: flex;
            height: 9.5rem;
            left: 0;
            position: absolute;
            top: 0;
            width: 23.5rem;
  
            .honza-lejsk-TpR {
              color: #000000;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2125;
              margin: 0.8rem 0.8rem 0rem 0rem;
              white-space: nowrap;
            }
            .profilovka-Aiq {
              background-image: url('/api/try-prod-us-east-2-first-cluster/projects/43Ep63UBdjvTdaVtLQcud3/files/image/53ede14b49eb80380d73d72d28210711442c1949');
              background-position: center;
              background-repeat: no-repeat;
              background-size: 100% 100%;
              border-radius: 4.75rem;
              cursor: pointer;
              flex-shrink: 0;
              height: 9.5rem;
              width: 9.5rem;
            }
          }
          .penize-HYZ {
            align-items: flex-end;
            display: flex;
            height: 3.3rem;
            left: 5.5rem;
            position: absolute;
            top: 7rem;
            width: 7.6rem;
  
            .item-365-Qt5 {
              color: #000000;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2125;
              margin-right: 0.9rem;
              white-space: nowrap;
            }
            .ellipse-1-wd7 {
              background-image: url('/api/try-prod-us-east-2-first-cluster/projects/43Ep63UBdjvTdaVtLQcud3/files/image/f6006953c7f373f976e832f9d7df85fdcc3a6ffa');
              background-position: center;
              background-repeat: no-repeat;
              background-size: 100% 100%;
              border: solid 0.2rem #995c00;
              border-radius: 1.4rem;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 2.8rem;
              margin-bottom: 0.5rem;
              width: 2.8rem;
            }
          }
        }
        .logo-e1j {
          flex-shrink: 0;
          height: 7rem;
          margin-left: 4.6rem;
          object-fit: contain;
          vertical-align: top;
          width: 8.1rem;
        }
      }
    }
    .skupina-hexagon-gUD {
      height: 58.8447rem;
      left: 102.6rem;
      object-fit: contain;
      position: absolute;
      top: 52.5553rem;
      vertical-align: top;
      width: 41.5695rem;
    }
  }
  