body {
  margin: 0;
  height: 100vh;
  background: #ffffe6; /* Your background color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
}

.hexagon {
  width: 200px; /* Example size */
  height: 115px; /* Example size */
  margin: 29px 0;
  background-image: url('hexagon.svg');
  background-size: cover;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
}

/* Position your hexagons with classes or ids */
#zemepisne-pexeso {
  background-image: url('Zemepisne pexeso hexagon.svg');
  position: relative; /* Example position */
}

#milionar {
  background-image: url('Milionář hexagon.svg');
  position: relative; /* Example position */
}

#az-kviz {
  background-image: url('Az kviz hexagon.svg');
  position: relative; /* Example position */
}